.steps {
    &__numbers {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 650px;
        margin-bottom: 60px;
    }
}
.step {
    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        border: 2px solid $lightgray;
        margin-right: 100px;
        flex-shrink: 0;
        background: white;
    }
    &__buttons {
        margin-top: 80px;
        gap: 20px;
        display: flex;
    }
}

.progress {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 2px;
    background: $lightgray;
    z-index: -1;
}
.form {
    // .form__input

    &__input {
        display: flex;
        position: relative;
        border: 1px solid $lightgray;
        max-width: 460px;
        &.search__input {
            margin-top: 40px;
        }
    }
}
.input {
    padding: 20px 20px 20px 65px;
    border: none;
    width: 100%;
    font-weight: 375;
    font-size: 18px;
    line-height: 20px;
    color: $gray;
    &:focus {
        outline: 1px solid $red;
    }

    &__img {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.form {
    &__item {
    }
    &__item-title {
        margin-top: 40px;
        font-weight: 494;
        font-size: 25px;
        line-height: 28px;
        /* identical to box height */

        color: $blue;
    }
}
