body {
    box-sizing: border-box;
    font-family: "Author", sans-serif;
}
main {
    padding: 50px 200px;
}

.section {
    &__title {
        font-style: normal;
        font-weight: 494;
        font-size: 50px;
        line-height: 56px;

        color: $blue;
    }
    &__text {
        font-weight: 375;
        font-size: 20px;
        line-height: 22px;
        color: $gray;
        max-width: 600px;
    }
}
// .button {
//     border: none;
//     background-color: #fff;
// }
.btn {
    background-color: $red;
    padding: 18px 48px;
    display: inline-flex;
    align-items: center;
    gap: 40px;
    border: none;
    font-weight: 494;
    font-size: 22px;
    line-height: 24px;

    color: #ffffff;
    text-decoration: none;
    transition: 0.3s all ease;
    max-width: fit-content;
    svg {
        transition: 0.3s all ease;
    }
    &:hover {
        background: rgb(176, 0, 0);
        svg {
            transform: translateX(10px);
        }
    }
}
.btn__outline {
    padding: 18px 48px;
    border: 1px solid $lightgray;
    font-weight: 494;
    background-color: #fff;
    font-size: 22px;
    line-height: 24px;
    color: $blue;

    &:hover {
        background: $blue;
        transition: 0.5s all ease;
        color: white;
    }
}
